



.container-fluid {
    
    background-color: whitesmoke;
    text-transform: uppercase;
    

}

.text-center {
    font-size: 40px ;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

nav-item{

    color: chartreuse;
}

